extends layout/main.pug

block content
    .form_container
        form(action=routes.join,method="post")
            input(type="text",name="name",placeholder="Type name", required=true)
            input(type="email", name="email",placeholder="Type Email", required=true)
            input(type="password", name="password",placeholder="Type Password", required=true)
            input(type="password", name="password2",placeholder="Verify Password", required=true)
            input(type="submit",value="Join Now")
        include partials/socialLogin
            